<%- include('partials/header') %>
<%- include('partials/navegation') %>
    <div class="container p-6">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card card-col m-3 animate__animated animate__bounceIn">
                    <img class="card-img-top" src="../img/uploads/<%= image.filename %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= image.title %>
                        </h5>
                        <p class="card-text">
                            <%= image.descripcion %>.
                        </p>
                        <p class="card-text">
                            <%= format(image.create_data) %>.
                        </p>
                        <div class="d-grid gap-2">
                            <a href="/image/<%= image.id %>/delete" class="btn btn-danger">Eliminar Imagen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div <%- include('partials/footer') %>